@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);



/**************GENERAL****************/
html {
  height: 100%;
}


body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  outline: 0;
}

body.home {
    height: 100%;
    background: url(../images/background.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;*/
    font-family: 'Open Sans', sans-serif;
    outline: 0;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

ul,ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #FF432E;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 21px;
}


.btn-primary {
    border-color: #FF432E;
    background-color: #FF432E;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    border-color: #ea321e;
    background-color: none !important;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #FF432E;
    background-color: #FF432E;
}

/**************CLOSE CROSS****************/

.close {
  position: absolute;
  right: 32px;
  top: 20px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
  -moz-transform: rotate(45deg);
  /*-webkit-transform: rotate(45deg);*/
  -ms-transform: rotate(45deg);
}



/**************SECTION TITLE SECTION****************/

.section-title h3{
    color: #666 !important;
    //font-style: italic;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    text-transform: none;
}

.section-title p {
    padding-bottom: 60px;
    color: #999;
    font-size: 18px;
    //font-style: italic;
    font-weight: 300;
}



/**************LOGO SECTION****************/

#logo-section {    
}

.logo h1 {
    font-family: 'Lobster', cursive;
    color: #fff;
    font-size: 60px;
}

.logo span {
    color: #999;
}



/**************BACKGROUND COLOR****************/

.blue {
    background: #28ABE3;
}

.green {
    background: #72bf48;
}

.red {
    background: #FF432E;
}

.light-red {
    background: #FB6648;
}

.light-orange {
    background: #FA6900;
}

.color {
    background: #0ECEAB;
}

.purple{
    background: #9b59b6;
}



/**************MAIN BODY SECTION****************/

.mainbody-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu-item {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
    border: 5px solid transparent;
	
}

.menu-item:hover{
    border: 5px solid rgba(255, 255, 255, 0.70);
}

.menu-item a {
    color: #fff;
    display: block;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.menu-item a p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.menu-item a i {
    font-size: 40px;
    padding-bottom: 10px;
}

.menu-item:hover a {
    text-decoration: none;
}

.copyright {
    /*background: rgba( 0, 0, 0, 0.7);*/
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.jacqmarq {
    text-align: center;
}



/**************UITNODIGING****************/
img.uitnodiging.img-responsive {
  margin-top: 10%;
}

/**************INTRODUCTION****************/

.skill {
    padding-bottom: 5px;
}

.skill p {
  margin-bottom:7px;

}

.progress {
  background: #fff;
  overflow: visible;
  height: 20px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress-bar {
    background: #FF432E;
  float: left;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
  position:relative;
}

 .progress-bar-span { 
 opacity:1;
 position:absolute;
 top:-5px;
 background:#ACB2B8;
 padding:3px 10px;
 color:#FFF;
 border-radius: 0px;
 right:0px;
    -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; 
 }

.skill:hover .progress-bar-span {
  opacity:1;
    -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}



/**************CONTACT****************/

.footer-contact-info {
    background: #FF432E;
    color: #fff;
    padding: 20px 30px;
    //margin-top: 80px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    min-height: 200px;
}

/**************PHOTO****************/

section {
  margin: 20px 0 20px 0;
  padding: 30px 0 30px 0;
}

.title {
  margin-bottom: 15px;
}

body.photo {
   padding-top: 70px; 
   margin-bottom: 70px;
}


/**PHOTO GALLERY**/

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
}


.img-wrapper {
  width: 100%;
  height: 400px;
  background-color: #f8f8f8;
}

.img-wrapper .img-responsive {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.img-wrapper .checkbox {
  position: relative;
  left: 15%;
  bottom: 10%;
  color: #ccc;
}


/**PHOTO GROTE FOTO SLIDER**/

.lb-outerContainer {
  height: 88% !important;
  width: 88% !important;
}

.lightbox {
  height: 100%;
}

#lightbox > div.lb-outerContainer > div > img {
  margin: auto !important;
  max-height: 100% !important;
  width: auto !important;
  max-width: 100% !important;
}

.lb-container {
  height: 100%;
}


/**************MEDIA 320--991***************/

@media only screen 
and (min-width : 320px) 
and (max-width : 991px) {
    
    .footer-contact-info {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
}

.footer-contact-info ul {
    padding-bottom: 10px;
}

.footer-contact-info h4 {
    padding-bottom: 10px;
}

.footer-contact-info li strong {
    font-weight: 600;
}

.navbar-toggle.collapsed {
  float: left;
}


/**************MEDIA 600--991***************/

@media only screen 
and (min-width : 600px) 
and (max-width : 991px) {
    
    .menu-item {
        display: inline-block;
        width: 32.8%;
    }
    
    .menu-item.responsive {
        width: 49.5%;
        float: left;
        margin-right: 3px;
        margin-top: 5px;
    }
    
    .menu-item.responsive-2 {
        width: 49.5%;
        float: right;
        margin-top: 5px;
    }

}



/**************MEDIA 992--1199***************/

@media only screen 
and (min-width : 992px) 
and (max-width : 1199px) {
    
    .menu-item {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .menu-item a i {
        font-size: 32px;
    }
    
    .menu-item a p {
        font-size: 16px;
    }

    
}


