@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);



/**************GENERAL****************/
html {
  height: 100%;
}


body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  outline: 0;
}

body.home {
    height: 100%;
    background: url(../images/background.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;*/
    font-family: 'Open Sans', sans-serif;
    outline: 0;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

ul,ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #FF432E;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 21px;
}


.btn-primary {
    border-color: #FF432E;
    background-color: #FF432E;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    border-color: #ea321e;
    background-color: none !important;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #FF432E;
    background-color: #FF432E;
}

/**************CLOSE CROSS****************/

.close-cross {
  font-size: large;
  color: #bebebe;
  float: right;
  font-weight: 100;
  font-size: 4em;
}



/**************SECTION TITLE SECTION****************/

.section-title h3{
    color: #666 !important;
    //font-style: italic;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    text-transform: none;
}

.section-title p {
    padding-bottom: 60px;
    color: #999;
    font-size: 18px;
    //font-style: italic;
    font-weight: 300;
}



/**************LOGO SECTION****************/

#logo-section {    
}

.logo h1 {
    font-family: 'Lobster', cursive;
    color: #fff;
    font-size: 60px;
}

.logo span {
    color: #999;
}



/**************BACKGROUND COLOR****************/

.blue {
    background: #28ABE3;
}

.green {
    background: #72bf48;
}

.red {
    background: #FF432E;
}

.light-red {
    background: #FB6648;
}

.light-orange {
    background: #FA6900;
}

.color {
    background: #0ECEAB;
}

.purple{
    background: #9b59b6;
}



/**************MAIN BODY SECTION****************/

.mainbody-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu-item {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
    border: 5px solid transparent;
	
}

.menu-item:hover{
    border: 5px solid rgba(255, 255, 255, 0.70);
}

.menu-item a {
    color: #fff;
    display: block;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.menu-item a p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.menu-item a i {
    font-size: 40px;
    padding-bottom: 10px;
}

.menu-item:hover a {
    text-decoration: none;
}

.copyright {
    /*background: rgba( 0, 0, 0, 0.7);*/
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.jacqmarq {
    text-align: center;
}



/**************UITNODIGING****************/
img.uitnodiging.img-responsive {
  margin-top: 10%;
}

/**************INTRODUCTION****************/
.introduction p {
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    text-transform: none;
    margin-bottom: 5%;
    margin-top: 5%;
}

.introduction img {
  margin-right: 5%;
  margin-top: 5%;
}


.skill {
    padding-bottom: 5px;
}

.skill p {
  margin-bottom:7px;

}

.progress {
  background: #fff;
  overflow: visible;
  height: 20px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress-bar {
    background: #FF432E;
  float: left;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
  position:relative;
}

 .progress-bar-span { 
 opacity:1;
 position:absolute;
 top:-5px;
 background:#ACB2B8;
 padding:3px 10px;
 color:#FFF;
 border-radius: 0px;
 right:0px;
    -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; 
 }

.skill:hover .progress-bar-span {
  opacity:1;
    -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

/**************BABYSITTING****************/

.welniet p{
  background-color: #FF432E;
  color: #fff;
  line-height: 1.2;
  font-size: 1em;
}

.tips {
  margin-bottom: 5%;
}

.welniet h3{
  font-weight: bold;
  font-size: 1.3em;
}



/**************CONTACT****************/

.footer-contact-info {
    background: #FF432E;
    color: #fff;
    padding: 20px 30px;
    //margin-top: 80px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    min-height: 200px;
}


/**************TIMELINE****************/

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

  .timeline:before {
      top: 0;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 3px;
      background-color: #eeeeee;
      left: 50%;
      margin-left: -1.5px;
  }

  .timeline > li {
      margin-bottom: 20px;
      position: relative;
  }

  .timeline > li:before,
  .timeline > li:after {
  content: " ";
  display: table;
  }

  .timeline > li:after {
  clear: both;
  }

  .timeline > li:before,
  .timeline > li:after {
  content: " ";
  display: table;
  }

  .timeline > li:after {
  clear: both;
  }

  .timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }

  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }

  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }

  .timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  }

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  }

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

/**************PHOTO****************/

section {
  margin: 20px 0 20px 0;
  padding: 30px 0 30px 0;
}

.title {
  margin-bottom: 15px;
}

body.photo {
   padding-top: 70px; 
   margin-bottom: 70px;
}
body.photo .col-md-3 {
    width: inherit !important;
}


/**PHOTO GALLERY**/

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
}


.img-wrapper {
  width: 100%;
  height: 200px;
  background-color: #f8f8f8;
}

.img-wrapper .img-responsive {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.img-wrapper .checkbox {
  position: relative;
  left: 10%;
  bottom: 15%;
  color: #ccc;
}

#take-photo-form {
  text-align: center;

}


/**PHOTO GROTE FOTO SLIDER**/

.lb-outerContainer {
  height: 88% !important;
  width: 88% !important;
}

.lightbox {
  height: 100%;
}

#lightbox > div.lb-outerContainer > div > img {
  margin: auto !important;
  max-height: 100% !important;
  width: auto !important;
  max-width: 100% !important;
}

.lb-container {
  height: 100%;
}


/**************MEDIA 320--991***************/

@media only screen 
and (min-width : 320px) 
and (max-width : 991px) {
    
    .footer-contact-info {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
}

.footer-contact-info ul {
    padding-bottom: 10px;
}

.footer-contact-info h4 {
    padding-bottom: 10px;
}

.footer-contact-info li strong {
    font-weight: 600;
}

.navbar-toggle.collapsed {
  float: left;
}


/**************MEDIA 600--991***************/

@media only screen 
and (min-width : 600px) 
and (max-width : 991px) {
    
    .menu-item {
        display: inline-block;
        width: 32.8%;
    }
    
    .menu-item.responsive {
        width: 49.5%;
        float: left;
        margin-right: 3px;
        margin-top: 5px;
    }
    
    .menu-item.responsive-2 {
        width: 49.5%;
        float: right;
        margin-top: 5px;
    }

}



/**************MEDIA 992--1199***************/

@media only screen 
and (min-width : 992px) 
and (max-width : 1199px) {
    
    .menu-item {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .menu-item a i {
        font-size: 32px;
    }
    
    .menu-item a p {
        font-size: 16px;
    }

    
}


